In [3]:
import pandas as pd

In [5]:
titanic=pd.read_excel("titanic3.xlsx")

In [15]:
titanic.describe(include="all")

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
count,1309.000000,1309.000000,1309,1309,1046.000000,1309.000000,1309.000000,1309,1308.000000,295,1307,486,121.000000,745
unique,NaN,NaN,1307,2,NaN,NaN,NaN,939,NaN,186,3,28,NaN,369
top,NaN,NaN,"Kelly, Mr. James",male,NaN,NaN,NaN,CA. 2343,NaN,C23 C25 C27,S,13,NaN,"New York, NY"
freq,NaN,NaN,2,843,NaN,NaN,NaN,11,NaN,6,914,39,NaN,64
mean,2.294882,0.381971,NaN,NaN,29.881135,0.498854,0.385027,NaN,33.295479,NaN,NaN,NaN,160.809917,NaN
std,0.837836,0.486055,NaN,NaN,14.413500,1.041658,0.865560,NaN,51.758668,NaN,NaN,NaN,97.696922,NaN
min,1.000000,0.000000,NaN,NaN,0.166700,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,1.000000,NaN
25%,2.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.000000,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.000000,1.000000,NaN,NaN,NaN,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,3.000000,1.000000,NaN,NaN,80.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN,NaN,328.000000,NaN

In [39]:
#replace missing with mean
titanic2=titanic.fillna(titanic.mean())

In [26]:
titanic2.columns

Index([u'pclass', u'survived', u'name', u'sex', u'age', u'sibsp', u'parch',
       u'ticket', u'fare', u'cabin', u'embarked', u'boat', u'body',
       u'home.dest'],
      dtype='object')

In [41]:
titanic2.dtypes

pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [42]:
X=titanic2[["pclass","age","fare"]]

In [43]:
y=titanic2["survived"]

In [44]:
from sklearn.naive_bayes import GaussianNB
#fit the Naive Bayes classifier
gnb = GaussianNB()
y_pred = gnb.fit(X, y).predict(X)
print("Number of mislabeled points out of a total %d points : %d" 
      % (X.shape[0],(y != y_pred).sum()))

Number of mislabeled points out of a total 1309 points : 417

In [45]:
gnb.class_count_

array([ 809.,  500.])

In [48]:
#obtain probability of each class
gnb.predict_proba(X)

array([[  4.29299842e-06,   9.99995707e-01],
       [  1.12434150e-03,   9.98875659e-01],
       [  1.19013815e-03,   9.98809862e-01],
       ...,
       [  8.80510495e-01,   1.19489505e-01],
       [  8.81173123e-01,   1.18826877e-01],
       [  8.83700785e-01,   1.16299215e-01]])